body {
  background-color: #f6f7f8;
  padding: 18px;
}

nav {
  padding: 0 32px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: flex;
  gap: 9px;
  align-items: center;
}

.nav-link p {
  color: #072635;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile-info {
  padding-right: 12px;
  border-right: 1px solid #ededed;
}

.profile-info p {
  margin: 0;
  color: #072635;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}
smtxt .profile-info .subtext {
  color: #707070;
  font-weight: normal;
}

.profile-settings {
  display: flex;
  gap: 12px;
  align-items: center;
}

.container {
  display: flex;
  gap: 32px;
  margin-top: 32px;
}

aside {
  background-color: #ffffff;
  padding: 20px;
  padding-right: 4px;
  border-radius: 16px;
  max-width: 367px;
}

.aside-header {
  width: 317px;
  border: solid 1px #01f0d0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.scrollable {
  max-height: 900px;
  overflow-y: auto;
}
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

.scrollbar-thumb-small {
  height: 20px;
}

.patient-list {
  margin-top: 40px;
  list-style: none;
  padding: 0;
  border: solid 1px #e66fd2;
  max-width: 317px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.patient-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
}

.patient-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-list .patient-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.lgtxt {
  margin: 0;
  font-weight: bold;
}

.smtxt {
  font-weight: 300;
  color: #707070;
  font-size: 14px;
}

.middle {
  width: 766px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.graph-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
}

.graph-container h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
}

.jessica {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
}

.jessica-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jessica-info img {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  background-color: #f6f7f8;
}

.jessica-info h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 8px;
}

.jessica-detail {
  display: flex;
  border: 1px solid #f6f7f8;
  padding: 12px;
  gap: 12px;
  width: 100%;
}

.jessica-detail img {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f6f7f8;
  border-radius: 50%;
}

.jessica-detail div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jessica-detail p {
  margin: 0;
}

.jessica-detail .label {
  color: #707070;
}

.jessica-detail .value {
  color: #072635;
  font-size: 14px;
  font-weight: bold;
}
.img-info {
  width: 42px;
  height: 42px;
  background-color: #f6f7f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.button {
  background-color: #01f0d0;
  border-radius: 41px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 40px;
}

.radio {
  background-color: #e66fd2;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 1px white;
}

.mygraph {
  min-width: 400px;
}

.blood_pressure {
  display: flex;
  gap: 20px;
  background-color: #f4f0fe;
  border-radius: 12px;
  padding: 16px;
  margin-top: 40px;
}
.average_values {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.lungs {
  background-color: #e0f3fa;
}
.heart_rate {
  background-color: #ffe6f1;
}
.temperature {
  background-color: #ffe6e9;
}

.heart_conditions {
  display: flex;
  gap: 21px;
  margin-top: 20px;
  border: solid;
}

.health_details {
  padding: 16px;
  border-radius: 12px;
}

.diagnostic_list {
}

.table {
  margin-top: 40px;
}
.thead {
  padding: 16px;
  background-color: #f6f7f8;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
}

.tbody {
  padding: 16px;

  display: flex;
  justify-content: space-between;
}

.end {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lab_result {
  background-color: #ffffff;
  padding: 20px;
}

.lab_list {
  margin-top: 16px;
}

.lab_result_list {
  display: flex;
  justify-content: space-between;
}
