body {
  background-color: #f6f7f8;
  padding: 18px;
}

nav {
  width: 1564px;
  padding: 0 32px;
  height: 72px;
  background-color: #ffffff;
  border-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: flex;
  gap: 9px;
  align-items: center;
}

.nav-link p {
  color: #072635;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}

.profile {
  display: flex;
  gap: 8px;
  align-items: center;
}

.profile-info {
  padding-right: 12px;
  border-right: 1px solid #ededed;
}

.profile-info p {
  margin: 0;
  color: #072635;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
}
smtxt .profile-info .subtext {
  color: #707070;
  font-weight: normal;
}

.profile-settings {
  display: flex;
  gap: 12px;
  align-items: center;
}

.container {
  display: flex;
  gap: 32px;
  margin-top: 32px;
  width: 1600px;
}

aside {
  background-color: #ffffff;
  padding: 20px;
  padding-right: 4px;
  border-radius: 16px;
  /* max-width: 367px; */
}

.aside-header {
  width: 317px;
  padding-right: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.aside-header h2 {
  font-size: 20px;
  font-weight: bold;
}

.scrollable {
  max-height: 1000px;
  overflow-y: auto;
}
.small_scrollable {
  max-height: 190px;
  overflow-y: auto;
}
.scrollable::-webkit-scrollbar,
.small_scrollable::-webkit-scrollbar {
  width: 6px;
}
.scrollable::-webkit-scrollbar-track,
.small_scrollable::-webkit-scrollbar-track {
  background: #e3e4e6;
  border-radius: 3px;
  background-clip: content-box;
}
.scrollable::-webkit-scrollbar-thumb,
.small_scrollable::-webkit-scrollbar-thumb {
  background: #072635;
  border-radius: 3px;
}

.scrollbar-thumb-small {
  height: 10px;
}

.patient-list {
  margin-top: 40px;
  list-style: none;
  padding: 0;

  /* max-width: 317px; */
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.patient-list li {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: #ffffff;
}

.patient-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-list .patient-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
}

.lgtxt {
  margin: 0;
  font-weight: bold;
}

.smtxt {
  font-weight: 300;
  color: #707070;
  font-size: 14px;
}

.middle {
  /* width: 766px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.graph-container {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 16px;
}

.graph-container h2 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  color: #072635;
}

.graph-container h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  color: #072635;
}

.time_range {
  display: flex;
  gap: 16px;
  align-items: center;
}

.jessica {
  padding: 32px;
  background-color: #ffffff;
  border-radius: 16px;
  width: 367px;
  padding: 20px;
}

.jessica_name {
  font-size: 24px;
  font-weight: 700;
  color: #072635;

  margin-top: 20px;
}

.jessica_img_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.jessica_image {
  width: 200px;
  height: 200px;
}

.jessica_info_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 32px;
}

.jessica_detail {
  display: flex;
  gap: 16px;
}

jessica_img_bg {
  color: #707070;
}

.jessica_detail_label {
  color: #072635;
  font-weight: 500;
  font-size: 14px;
}

.jessica_detail_text {
  color: #072635;
  font-size: 14px;
  font-weight: bold;
}

.img-info {
  width: 42px;
  height: 42px;
  background-color: #f6f7f8;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.jessica_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #01f0d0;
  border-radius: 41px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-top: 40px;
}

.radio {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: solid 1px white;
}

.pink {
  background-color: #e66fd2;
}
.purple {
  background-color: #8c6fe6;
}
.mygraph {
  min-width: 400px;
}

.mygraph canvas {
  height: 225px;

  margin-top: 20px;
}

.blood_pressure {
  display: flex;
  gap: 20px;
  background-color: #f4f0fe;
  border-radius: 12px;
  padding: 16px;
  margin-top: 40px;
  height: 298px;
}
.average_values {
  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 208px;
}

.average_values_radio {
  display: flex;
  color: #072635;
  font-size: 14px;
  gap: 4px;
  align-items: center;
  font-weight: bold;
}

.average_values_value {
  font-size: 32px;
  color: #072635;
  font-weight: bold;
}

.average_levels {
  display: flex;
  gap: 8px;
}

.average_values_levels {
  font-size: 14px;
  color: #072635;
}

.lungs {
  background-color: #e0f3fa;
}
.heart_rate {
  background-color: #ffe6f1;
}
.temperature {
  background-color: #ffe6e9;
}

.heart_conditions {
  display: flex;
  gap: 21px;
  margin-top: 20px;
}

.health_details {
  padding: 16px;
  border-radius: 12px;
  width: 228px;
  font-size: 16px;
  color: #072635;
}

.health_details_digits {
  font-size: 30px;
  color: #072635;
  font-weight: 800;
}
.diagnostic_list {
}

.table {
  margin-top: 40px;
  width: 100%; /* Ensure the table takes full width */
}

.thead,
.tbody-row {
  display: flex;
  padding: 16px;
  align-items: center;

  gap: 16px; /* Adjust gap between columns */
}

.thead {
  background-color: #f6f7f8;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 14px;
  color: #072635;
}

.tbody-row {
  background-color: #ffffff;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #072635;
}

.thead div,
.tbody-row div {
  text-align: left;
  padding: 0px 21px;
}

.thead div:first-child,
.tbody-row div:first-child {
  width: 159px;
}

.thead div:nth-child(2),
.tbody-row div:nth-child(2) {
  width: 287px;
}

.thead div:nth-child(3),
.tbody-row div:nth-child(3) {
  width: 79px;
}

.end {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.lab_result {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 16px;
}
.lab_result h2 {
  font-size: 24px;
  font-weight: 700;
  color: #072635;
}

.lab_list {
  margin-top: 16px;
}

.bg {
  background-color: #f6f7f8;
}

.lab_list_container {
  display: flex;
  flex-direction: column;

  gap: 5px;
  padding-right: 4px;
}

.lab_result_list {
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
  padding-left: 16px;
  color: #072635;
  cursor: default;
  padding-top: 11px;
  padding-bottom: 11px;
}

.diagnostic_list_name {
  font-size: 24px;
  font-weight: 700;
  color: #072635;
}
